In [5]:
import numpy as np
import pandas as pd

Read station metadata from a comma-separated file. Columns are station ID, station name, longitude, latitude, and available water capacity.

In [15]:
metadata = pd.read_csv("data/1012475.metadata")
#metadata.head()
station_id = metadata["Station"][0]
lat = metadata["Lat"][0]
awc = metadata["AWCmm"][0]
print(f"ID: {station_id}, latitide: {lat}, AWC: {awc}")

ID: 1012475, latitide: 48.42, AWC: 123

Read climatology data from a space-delimited file. Columns are station ID, year, month, day, tmMax, tmin, and precipitation.

In [7]:
station_data = pd.read_csv("data/1012475.dat", header=None, delim_whitespace=True)
station_data.head()

         0     1  2  3    4    5    6
0  1012475  1950  1  1 -0.4 -5.4  4.6
1  1012475  1950  1  2 -5.4 -8.9  3.1
2  1012475  1950  1  3 -3.6 -9.5  5.9
3  1012475  1950  1  4 -1.1 -7.0  1.6
4  1012475  1950  1  5  2.8 -5.5  6.9

In [11]:
column_names = {0: "station_id", 1: "year", 2: "month", 3: "day", 4: "tmax", 5: "tmin", 6: "prcp"}
station_data.rename(column_names, axis=1, inplace=True)
station_data.head()

   station_id  year  month  day  tmax  tmin  prcp
0     1012475  1950      1    1  -0.4  -5.4   4.6
1     1012475  1950      1    2  -5.4  -8.9   3.1
2     1012475  1950      1    3  -3.6  -9.5   5.9
3     1012475  1950      1    4  -1.1  -7.0   1.6
4     1012475  1950      1    5   2.8  -5.5   6.9

In [32]:
station_data['date'] = station_data[['year', 'month', 'day']].apply(lambda s : pd.datetime(*s),axis = 1)
station_data.drop(columns=["year", "month", "day"], inplace=True)
station_data.head()

   station_id  year  month  day  tmax  tmin  prcp   datetime       date
0     1012475  1950      1    1  -0.4  -5.4   4.6 1950-01-01 1950-01-01
1     1012475  1950      1    2  -5.4  -8.9   3.1 1950-01-02 1950-01-02
2     1012475  1950      1    3  -3.6  -9.5   5.9 1950-01-03 1950-01-03
3     1012475  1950      1    4  -1.1  -7.0   1.6 1950-01-04 1950-01-04
4     1012475  1950      1    5   2.8  -5.5   6.9 1950-01-05 1950-01-05

       station_id  tmax  tmin  prcp       date
0         1012475  -0.4  -5.4   4.6 1950-01-01
1         1012475  -5.4  -8.9   3.1 1950-01-02
2         1012475  -3.6  -9.5   5.9 1950-01-03
3         1012475  -1.1  -7.0   1.6 1950-01-04
4         1012475   2.8  -5.5   6.9 1950-01-05
5         1012475   6.3   1.2   5.1 1950-01-06
6         1012475   3.9  -0.4   0.0 1950-01-07
7         1012475   3.0  -1.5   5.2 1950-01-08
8         1012475   3.1  -1.9   8.5 1950-01-09
9         1012475   4.9   0.8   6.1 1950-01-10
10        1012475   3.1  -3.1   9.1 1950-01-11
11        1012475  -3.5  -8.0  13.7 1950-01-12
12        1012475 -10.4 -13.0   5.5 1950-01-13
13        1012475  -8.3 -14.0   5.7 1950-01-14
14        1012475  -6.4  -9.7   0.0 1950-01-15
15        1012475  -6.0  -9.8   3.0 1950-01-16
16        1012475  -5.8  -9.4   0.0 1950-01-17
17        1012475  -4.1  -9.1   0.0 1950-01-18
18        1012475  -0.1  -6.9  15.0 1950-01-19
19        1012475   8.5  -2.0  12.9 1950-01-20
20        1012475   9.1   3.9  10.4 1950-01-21
21        1012475   6.2   2.4   4.6 1950-01-22
22        1012475   1.2  -2.9   8.2 1950-01-23
23        1012475  -6.1  -9.2   0.0 1950-01-24
24        1012475  -4.7 -12.3  19.7 1950-01-25
25        1012475  -3.7  -8.1   5.6 1950-01-26
26        1012475  -1.3  -8.1   0.0 1950-01-27
27        1012475  -2.0  -9.6   0.0 1950-01-28
28        1012475  -3.4 -11.6   0.0 1950-01-29
29        1012475  -3.5 -10.8   0.0 1950-01-30
...           ...   ...   ...   ...        ...
25231     1012475   7.0   2.3   0.0 2019-01-30
25232     1012475   7.8   4.2   0.1 2019-01-31
25233     1012475   9.0   5.7   4.5 2019-02-01
25234     1012475   8.6   3.6   0.1 2019-02-02
25235     1012475   5.4  -4.4   0.6 2019-02-03
25236     1012475  -0.9  -5.4   0.0 2019-02-04
25237     1012475   1.6  -5.5   0.0 2019-02-05
25238     1012475   2.1  -3.7   0.0 2019-02-06
25239     1012475   2.9  -2.5   0.0 2019-02-07
25240     1012475   3.5  -1.9   4.1 2019-02-08
25241     1012475   0.2  -3.5   0.2 2019-02-09
25242     1012475   2.7  -5.1   4.6 2019-02-10
25243     1012475   0.2  -4.4  15.0 2019-02-11
25244     1012475   3.3  -0.8   8.4 2019-02-12
25245     1012475   2.9  -0.8   1.9 2019-02-13
25246     1012475   4.9  -1.4   4.4 2019-02-14
25247     1012475   6.9   0.9   1.0 2019-02-15
25248     1012475   8.1   1.0   1.3 2019-02-16
25249     1012475   5.9   1.6   0.2 2019-02-17
25250     1012475   5.7   0.6   0.0 2019-02-18
25251     1012475   5.6   1.7   1.0 2019-02-19
25252     1012475   5.8   0.9   0.1 2019-02-20
25253     1012475   5.6   0.8   0.0 2019-02-21
25254     1012475   7.9   1.7   3.1 2019-02-22
25255     1012475   6.7   2.5   2.3 2019-02-23
25256     1012475   6.2   2.2   1.0 2019-02-24
25257     1012475   4.8   0.5   0.0 2019-02-25
25258     1012475   3.6  -1.0   0.0 2019-02-26
25259     1012475   6.0   0.6   0.0 2019-02-27
25260     1012475   5.5  -0.5   0.0 2019-02-28

[25261 rows x 5 columns]